

.chat-window {
    margin: 0 auto;
  }
  
  .chat-window p {
    margin: 0;
  }
  .chat-window .chat-header {
    display: flex;
    justify-content: flex-start;
    height: max-content;
    border-radius: 6px;
    background: rgb(77, 7, 7);
    position: relative;
    cursor: pointer;
  }
  .chat-window .chat-header p {
   
    padding: 0 1em 0 2em;
    color: #fff;
    font-weight: 1000;
    line-height: 45px;
  }
  
  .chat-window .chat-body {
    height:80vh;
    border: 1px solid #263238;
    background: white;
    position: relative;
  }
  .chat-window .chat-body .message-container {
    width: 100%;
    height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .chat-window .chat-body .message-container::-webkit-scrollbar {
    display: none;
  }
  .chat-window .chat-body .message {
    height: auto;
    padding: 10px;
    display: flex;
  }
  
  .chat-window .chat-body .message .message-content {
    width: auto;
    height: auto;
    min-height: 40px;
    max-width: 120px;
    background-color:rgb(77, 7, 7);
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    overflow-wrap: break-word;
    word-break: break-word;
  }
  
  #you {
    justify-content: flex-end;
  }
  
  #you .message-content {
    justify-content: flex-end;
  }
  
  #you .message-meta {
    justify-content: flex-end;
    margin-left: 5px;
  }
  
  #other {
    justify-content: flex-start;
  }
  
  #other .message-content {
    justify-content: flex-end;
    background-color: cornflowerblue;
  }
  
  #other .message-meta {
    justify-content: flex-end;
    margin-right: 5px;
  }
  
  
  .message-meta #author {
    margin-left: 10px;
    font-weight: bold;
  }
  
  .chat-window .chat-body .message .message-meta {
    display: flex;
    font-size: 12px;
  }
  
  .chat-window .chat-footer {
    height: auto;
    margin:20px;
    border: 1px solid #6f8a97;
    
    display: flex;
    background-color: #ffffff;
    margin: 10px;
    padding:10px
  }
  .chat-window .chat-footer Button{
    border: 0;
    display: grid;
    place-items: center;
    cursor: pointer;
    flex: 15%;
    height: 100%;
    background: transparent;
    outline: none;
    font-size: 25px;
    color: rgb(169, 24, 24);
  }
  
  .chat-window .chat-footer input {

    height: 4vh;
    flex: 85%;
    border: 0;
    font-size: 2vh;
    border-right: 1px dotted #607d8b;
    outline: none;
    font-family: "Open Sans", sans-serif;
  }
  
  .chat-window .chat-footer button {
    border: 0;
    display: grid;
    place-items: center;
    cursor: pointer;
    flex: 15%;
    height: 100%;
    background: transparent;
    outline: none;
    font-size: 25px;
    color: lightgray;
    
  }
  
  .chat-window .chat-footer button:hover {
    color: rgb(77, 7, 7);
  }
  .hide {
    opacity: 0 !important;
  }
  /* Tooltip container */

  body,
html{
  
   height: 100%;
}

.message-translate{
  position:relative;
}
.message-translate::before,
.message-translate::after{
  --scale:0;
   position:absolute;
   top:-.25rem;
   left:50%;
   transform:translateX(-50%) translateY(-100%) scale(var(--scale));
   transition:150ms transform;
   transform-origin:bottom center;

}

.message-translate::before{
  content:attr(data-tooltip);
  color:white;
  padding:.5rem;
  border-radius:.3rem;
  text-align: center;
  width:max-content;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.415);

}


.message-translate:hover::before{
  --scale:1;
}

