.chatContainer {
  width: 100vw;
}

.chat-window {
    margin: 0 auto;
    width: 50%;
    height: 100vh;
  }
  
  .chat-window p {
    margin: 0;
  }
  .chat-window .chat-header {
    height: 5vh;
    border-radius: 6px;
    background: rgb(77, 7, 7);
    position: relative;
    cursor: pointer;
  }
  .chat-window .chat-header p {
    display: block;
    padding: 0 1em 0 2em;
    color: #fff;
    font-weight: 1000;
    line-height: 45px;
  }
  
  .chat-window .chat-body {
    height:85vh;
    border: 1px solid #263238;
    background: white;
  
    position: relative;
  }
  .chat-window .chat-body .message-container {
    width: 100%;
    height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .chat-window .chat-body .message-container::-webkit-scrollbar {
    display: none;
  }
  .chat-window .chat-body .message {
    height: auto;
    padding: 10px;
    display: flex;
  }
  
  .chat-window .chat-body .message .message-content {
    width: auto;
    height: auto;
    min-height: 40px;
    max-width: 120px;
    background-color:rgb(77, 7, 7);
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    overflow-wrap: break-word;
    word-break: break-word;
  }
  
  #you {
    justify-content: flex-end;
  }
  
  #you .message-content {
    justify-content: flex-end;
  }
  
  #you .message-meta {
    justify-content: flex-end;
    margin-left: 5px;
  }
  
  #other {
    justify-content: flex-start;
  }
  
  #other .message-content {
    justify-content: flex-end;
    background-color: cornflowerblue;
  }
  
  #other .message-meta {
    justify-content: flex-end;
    margin-right: 5px;
  }
  #other .message-translate .tooltip .tooltiptext{
    visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  left: 130px;
  top: 35px;
  z-index: 1;

  }
  
  .message-meta #author {
    margin-left: 10px;
    font-weight: bold;
  }
  
  .chat-window .chat-body .message .message-meta {
    display: flex;
    font-size: 12px;
  }
  
  .chat-window .chat-footer {
    height: 5vh;
    margin:20px;
    border: 1px solid #263238;
    border-top: none;
    display: flex;
    background-color: #212121;
  
  }
  
  .chat-window .chat-footer input {
    height: 100%;
    flex: 85%;
    border: 0;
    padding: 0 0.7em;
    font-size: 1em;
    border-right: 1px dotted #607d8b;
    outline: none;
    font-family: "Open Sans", sans-serif;
  }
  
  .chat-window .chat-footer button {
    border: 0;
    display: grid;
    place-items: center;
    cursor: pointer;
    flex: 15%;
    height: 100%;
    background: transparent;
    outline: none;
    font-size: 25px;
    color: lightgray;
    
  }
  
  .chat-window .chat-footer button:hover {
    color: rgb(77, 7, 7);
  }
  .hide {
    opacity: 0 !important;
  }
 
  /* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  left: -130px;
  top: -35px;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}