.please-login-header{
  text-align: center;
  padding: auto; 
}
.welcome{
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    font-family: "Nunito";
}

.search-form {
  padding-top: 20px;
  text-align: center;
}

.recommendedUsers-contianer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  height: 100%;
}
.recommended-users {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  white-space: nowrap;
}
Community .span {
  display: flex;
  flex-direction: row;
}


.btn-flag-image {
    width: 300px;
    height: 215px;
    margin-top: 30px;
    margin-right: 20px;
    background-size: cover;
    color: black;
    font-size: 20pt;
    font-family: "Nunito";
    text-shadow: 1px 1px 1px white;
}

.btn-flag-image:hover {
    text-decoration: underline;
}


.recommended-word{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.search-form {
  margin-top: 20px;
}

.search-input {
  width: 80%;
  height: 30px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  font-size: 24px;
}

.select-lang {
  text-align: center;
  padding-top: 80px;
}

.selected-lang-text {
  font-size: 24px;
}

.select-btn {
  /* width:  120px; */
  height: 30px;
  text-align: center;
  font-size: 16px;
}

.view-profile-link:hover{
  text-decoration-color: white;
  /* text-decoration: double; */
  
}
.view-profile-link:visited{
  text-decoration-color: white;
  /* text-decoration: white; */
  /* text-decoration: double; */
  
}

.toggle-community-chat{
  text-align: right;
  padding-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.recommended-word {
  margin-top: 80px;
  font-size: 24px;
}

.search-label {
  font-size: 24px;
}

/* for chat feature */
