

.flag {
    width: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.question {
    justify-content: center;
}

.langbutton.selected {
    background-color: brown;
}

.langprompt {
    text-align: center;
    font-family: "Nunito";
    padding: 20px;
    background-image: url("");
    background-color: rgba(143, 37, 37, 0.783);

}


.content {
    margin-top: 100px;
}
  
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Reduce the gap between buttons */
    justify-content: center; 
    margin-top: 50px;
}


.myButton2 {
    margin-top: 100px;
    margin-bottom: 20px;
	background-color:brown;
	border-radius:28px;
	border:1px solid brown;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px; 
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px l;
}

.myButton2:hover {
	background-color:red;
}
.myButton2:active {
	position:relative;
	top:1px;
}

.langbutton {
/* display: flex;
flex-direction: column; */
height: 250px;
width: 350px;
align-items: center;
justify-content: center;
border: 2px solid #ccc; 
border-radius: 8px;
padding: 10px;
cursor: pointer;
/* Add animation properties for the float-in effect */
animation: floatInAnimation 0.5s ease forwards;
opacity: 0; /* Start with opacity set to 0, so the buttons are hidden initially */
}

/* Define the keyframes for the float-in animation */
@keyframes floatInAnimation {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


  
  /* .flag {
    width: 80px;
    height: 60px;
    object-fit: cover;
    margin-bottom: 10px;
  }
   */