.daily-news-container{
    text-align: center;
    font-size: 60px;
    padding-top: 30px;
  
}

.border{
    border-bottom: solid;
    margin-top: -10px;
 
   
}

.articles-grid{
    margin-top: 40px;
}